.img-carousel {
    width: 100%;
    height: 900px; /* Hauteur par défaut pour les écrans larges */
    object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la zone sans déformation */
    border-radius: 10px; /* Ajoute un léger arrondi si souhaité */

    /* Media queries pour le responsive */
    @media (max-width: 1024px) {
        height: 300px; /* Réduire la hauteur sur les écrans de taille moyenne */
    }

    @media (max-width: 768px) {
        height: 250px; /* Hauteur réduite sur les tablettes */
    }

    @media (max-width: 480px) {
        height: 200px; /* Hauteur plus petite sur les mobiles */
    }
}

