$main-color-footer: black;
@import './_variables.scss';


.footer {
    background-color: $main-color-footer;
    padding: 20px;
    display: column;
    color: white;
    font-family: 'Montserrat';
    text-align: center;

  
      
  }
  