.header {
  background-color: white;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;

  @media (max-width: 700px) {
    margin: 0%;;
  }

  .header-logo {
    width: 100px;
    height: auto;
  }

  .header-nav_link {
    text-decoration: none;
    padding-left: 20px;
    font-family: "Montserrat";
    color: black;
    text-align: right;

    @media (max-width: 700px) {
      text-transform: uppercase;
    }
  }
}
